[Desktop Entry]
Type=Application
Version=1.0
Name=MiniOS Image Builder
Name[ru]=Конструктор образов MiniOS
Name[pt_BR]=Construtor de imagens MiniOS
Name[pt]=Construtor de imagens MiniOS
Name[it]=Generatore di immagini MiniOS
Name[id]=Pembuat Citra MiniOS
Name[fr]=Créateur d’images MiniOS
Name[es]=Constructor de imágenes MiniOS
Name[de]=MiniOS-Abbildersteller
Comment=Build a verified MiniOS image with system, boot, layer, and session customization
Comment[ru]=Создайте проверенный образ MiniOS с возможностью настройки системы, загрузки, слоёв и сессии
Comment[pt_BR]=Crie uma imagem MiniOS verificada com personalização de sistema, boot, camada e sessão
Comment[pt]=Crie uma imagem MiniOS verificada com personalização de sistema, boot, camada e sessão
Comment[it]=Crea un'immagine MiniOS verificata con personalizzazione di sistema, avvio, layer e sessione
Comment[id]=Buat image MiniOS terverifikasi dengan kustomisasi sistem, boot, layer, dan sesi
Comment[fr]=Créez une image MiniOS vérifiée avec personnalisation du système, du démarrage, des couches et de la session
Comment[es]=Crea una imagen verificada de MiniOS con personalización de sistema, arranque, capas y sesiones
Comment[de]=Erstellen Sie ein verifiziertes MiniOS-Image mit System-, Boot-, Layer- und Sitzungsanpassung
Keywords=iso;image;compose;savechanges;capture;session;customize;boot;overlay;remaster;live;
Keywords[ru]=iso;образ;сборка;сохранить изменения;захват;сессия;настройка;загрузка;оверлей;ремастер;live;
Keywords[pt_BR]=iso;imagem;compor;salvaralterações;capturar;sessão;personalizar;boot;overlay;remasterizar;live;
Keywords[pt]=iso;imagem;compor;salvar alterações;capturar;sessão;personalizar;boot;overlay;remasterizar;live;
Keywords[it]=iso;immagine;compila;salvachanges;cattura;sessione;personalizza;boot;overlay;remaster;live;
Keywords[id]=iso;image;compose;savechanges;capture;session;customize;boot;overlay;remaster;live;
Keywords[fr]=iso;image;composer;enregistrer les modifications;capturer;session;personnaliser;démarrage;overlay;remasteriser;live;
Keywords[es]=iso;imagen;componer;guardar cambios;capturar;sesión;personalizar;arranque;superposición;remasterizar;live;
Keywords[de]=iso;Image;zusammenstellen;Änderungen speichern;erfassen;Sitzung;anpassen;Boot;Overlay;remastern;Live;
Exec=/usr/bin/minios-image-builder
Icon=isomaster
Terminal=false
Categories=GTK;System;
NotShowIn=KDE;
X-Ayatana-Appmenu-Show-Stubs=False
